<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
          integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <div class="container">
        <h1>My favourite movies to watch</h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="column">
                <h3><i class="fa-solid fa-circle-plus"></i>Add movie</h3>
                <form method="POST" action="/addMovie">
                    Title: <input type="text" name="title"><br>
                    Year: <input type="text" name="year"><br>
                    Actors: <input type="text" name="actors"><br>
                    <button name="button" type="submit"><i class="fa-solid fa-circle-plus"></i> Add</button>
                </form>
            </div>
        </div>
</main>
<footer>
    <div class="container">
        <br>
        <br>
        <p>My Movie Database. All rights reserved.</p>
    </div>
</footer>
</body>
</html>