<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My favourite movies to watch</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
          integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
<header>
    <div class="container">
        <h1>My favourite movies to watch</h1>
    </div>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="column">
                <a href="addMovie">Dodaj film</a>
                <h3><i class="fa-solid fa-film"></i> Titles</h3>
                <form id="moviesList" method="POST" action="/deleteMovies">
                    <ul style="list-style-type: none; padding: 0;">
                    {% for movie in movies %}
                       <li>
                            <label>
                                <input type="checkbox" name="movieToRemove" value="{{ movie[0] }}">
                                {{ movie[1] }}, {{ movie[2] }}, {{ movie[3] }}
                            </label>
                        </li>
                    {% endfor %}
                </ul>
                    <button name="button" type="submit"><i class="fa-solid fa-circle-minus"></i> Delete selected</button>
                </form>
            </div>
        </div>
</main>
<footer>
    <div class="container">
        <br>
        <br>
        <p>My Movie Database. All rights reserved.</p>
    </div>
</footer>
</body>
</html>